<footer class="footer bg-dark py-1 mt-auto">
    <div class="container text-center">
        <span style="color: aliceblue;">Kash Camp 2024 &copy; <span style="color:white;">PaRvAz</span></span>
    </div>
</footer>
